:root {
  --main-font: 'Open Sans', sans-serif;
  --base-font-size: 16px;
  --background-color: #212121;
  --text-color: #727272;
  --border-color: #727272;
  --accent-color: #FF9800;
  --hover-color: #212121;
  --save-btn-hover-color: #FF9800;
}

body {
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  border-bottom: 2px solid var(--border-color);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--text-color);
  border-left: 1px solid var(--background-color);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--background-color);
}

.hour {
  background-color: var(--background-color);
  border-top: 1px dashed var(--border-color);
}

.past {
  background-color: #3F3F3F;
}

.present {
  background-color: #f07178;
}

.future {
  background-color: #c3e88d;
}

.saveBtn {
  border-left: 1px solid var(--border-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.saveBtn:hover {
  color: var(--hover-color);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
