body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #212121;
  color: #727272;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #727272;
  border-left: 1px solid #212121;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid #212121;
}

.hour {
  background-color: #212121;
  border-top: 1px dashed #727272;
}

.past {
  background-color: #3F3F3F;
}

.present {
  background-color: #f07178;
}

.future {
  background-color: #c3e88d;
}

.saveBtn {
  border-left: 1px solid #727272;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FF9800;
  color: #727272;
}

.saveBtn:hover {
  color:#212121;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}